.top{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, rgb(139, 238, 229) , rgb(28, 116, 238));;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-size: 35px;
    z-index: 999;
}

.topLeft,.topRight{
    flex:3;
    

}

.topRight{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.topCenter{
    flex:6;
}

.topList{
    align-items: center;
    justify-content: center;
    display:flex;
    list-style: none;
}

.topListItem{
    margin-left: 20px;
    margin-right: 20px;
    cursor:pointer
}

.iconx, .fa-solid{
    margin-left: 10px;
    margin-right: 10px;
    cursor:pointer
    
}

.profile_photo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    
}